name: sc4pac CI

on:
  push:
    branches: [ "main", "action", "add-paeng-nuclear-plant", "add-wannglondon-churches" ]
  pull_request_target:
    branches: [ "main" ]

# permissions:
#   contents: read

jobs:
  channel:
    uses: memo33/sc4pac-actions/.github/workflows/sc4pac-channel.yaml@main
    with:
      path: src/yaml
      channel-label: Main
      deploy-repository: memo33/sc4pac
      sc4pac-tools-submodule: sc4pac-tools
      use-stex-api: true
      test-only-PRs: true
    secrets:
      stex-api-key: ${{ secrets.STEX_API_KEY }}
      sc4pac-simtropolis-token: ${{ secrets.SC4PAC_SIMTROPOLIS_TOKEN }}
    permissions:
      pages: write                   # to deploy to GitHub Pages
      id-token: write                # to verify the deployment originates from an appropriate source
